#-------------------------------------------------------------------------------
# site that has example of this.
# https://stackoverflow.com/questions/34619751/tomcat-8-url-rewrite-issues
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
# Any subsequent file that the index.html file needs, needs to pass through.
# This would be the js and css files along with other miscellaneous ones.
#-------------------------------------------------------------------------------
RewriteCond %{REQUEST_URI} .*\.(css|map|js|html|png|jpg|jpeg|gif|txt|ttf|json|woff|ico)$ [OR]

#----------------------------------------
# Allow these service calls to go through
#----------------------------------------
RewriteCond %{REQUEST_URI} ^(/evscompare/util).*$ [OR]
RewriteCond %{REQUEST_URI} ^(/evscompare/download).*$ [OR]
RewriteCond %{REQUEST_URI} ^(/evscompare/search).*$ [OR]

RewriteRule ^(.*)$ - [L]
RewriteRule ^(.*)$ /evscompare/index.html
