/target/
/searchservice/bin/
/searchservice/target/
/searchservice/.settings/
/searchservice/.settings/org.eclipse.jdt.core.prefs
/searchservice/src/main/resources/public/
/searchclientui/bin/
/searchclientui/target/
/searchclientui/dist/
/searchclientui/node/
/searchclientui/node_modules/
/.settings/
.project
.DS_Store
